name: Prisma-Article-Examples

on:
  push:
    branches: [master, main]
jobs:
  server-job:
    strategy:
      matrix:
        node-version: [12.x, 14.x]
        os: [ubuntu-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: |
          npm install
          npm install @prisma/cli @prisma/client -g
      - name: Build
        run: npm run build
      - name: Invoke
        run: npm run invoke
